/*.scrollBottom {
    background: #fff;
    bottom: 75px;
    cursor: pointer;
    height: 32px;
    position: fixed;
    right: 0;
    transition: .3s ease;
    width: 32px;
    z-index: 999;

    align-items: center;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}*/

/*.scrollIcon {
    background-color: #B7EEFF;
!*rgba(1, 41, 101, .1);*!
    !*color: #ff0000;*!
    color: #012965;
    height: 100%;
    width: 100%;
    align-items: center;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}*/

.icon_style {
    font-size: 2rem;
    font-weight: 100;
    color: rgba(1, 41, 101, 0.4);
}
@media (max-width: 768px) {
    .scrollBottom{
        display: none;
    }
}




/*
#floatOptions {
    width: 40px;
    height: 40px;
    background: #fff;
    position: fixed;
    right: 0;
    bottom: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    cursor: pointer;
    !* -moz-box-shadow: -1px 0px 7px 2px rgba(0, 0, 0, 0.24); *!
    transition: 0.3s ease;
}
*/
